* {
    box-sizing: border-box;
}

:root {
    --mau-header: #10375c;
    --chu-dam-color:#fff;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    
}

/* Common */

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif !important;
}


.main-content {
    width: 2200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    background-color: #10375c;
}

.hide {
    display: none;
}

/* end commom  */

/* cai nao đó */
.list-pane,
.tab-pane {
    display: none;
}

    .list-pane.active,
    .tab-pane.active {
        display: block;
    }

list-item,.content-tab{
    display:none;
}
.list-item.active,
.content-tab.active {
    display: block;
}
/* Header */
.header {
    height: 70px;
    background-color: var(--mau-header);
}
.header.fixed {
        position: sticky;
        top: 0;
        z-index: 100;
}

.header .body {
        display: flex;
        align-items: center;
        border: 5px;
        
       
   }

.nav {
    margin-left: 29px;
}

    .nav ul {
        display: flex;
    }

    .nav a {
        position: relative;
        padding: 8px 21px;
        font-size: 2.2rem;
        color: #fff;
    }

        .nav a:hover,
        .nav li.active a {
            text-shadow: 1px 0 0 currentColor;
            color: #fff;
        }

            .nav li.active a::after {
                position: absolute;
                left: 21px;
                bottom: 6px;
                content: "";
                display: block;
                width: calc(100% - 44px);
                height: 2px;
                background: #fff;
                border-radius: 1px;
                box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
            }

.header .sign-up-btn {
    min-width: 120px;
}

.header .user {
    margin-left: auto;
    margin-right: 15px;
    min-width: 170px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
}

.main-content .logo {
    width: 50px;
    /* transform: scale(1.3); */
    /* transition: transform 0.5s linear; */
}

    .main-content .logo:hover {
        transition: transform 0.2s linear;
        transform-style: preserve-3D;
        transform: scale(1.1);
    }

/* end header */

/* Main */

.main {
    display: flex;
}

    .main .dieu-huong {
        flex-grow: 1;
        width: 220px !important;
        background-color: var(--nen-xam);
        border-right: solid 2px #6c6a67;
        border-bottom: solid 2px #6e6b64;
    }

    .main .noi-dung {
        height: calc(100vh - 70px);
        width: calc(100vw - 200px);
        flex-grow: 8;
        /* background-color: wheat; */
        margin: 0 7px;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

/* dieu huong */
.head-dieu-huong {
    position: sticky;
    top: 0;
    display: flex;
    color: #000;
    height: 40px;
    padding: 11px 36px;
    font-size: 1.8rem;
    background-color: #2e80ce;
}

    .head-dieu-huong i {
        margin-left: 11px;
        margin-right: 7px;
    }

.list-dieu-huong .item-dieu-huong a {
    font-size: 1.9rem !important;
}

.list-dieu-huong .item-dieu-huong a {
    display: inline-block;
    background-color: #fff;
    color: var(--chu-color);
    border: none;
    border-bottom: 1.5px solid #ccc;
    padding: 10px 0 12px 0px;
    text-align: center;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 400;
}

.list-dieu-huong .item-dieu-huong i {
    transform: scale(0.8);
    margin-right: 3px;
}

.list-dieu-huong .item-dieu-huong a:hover {
    cursor: pointer;
    color: var(--chu-dam-color);
    background-color: #ccc;
}

.container {
    margin: 0 8px;
   /* background-color: #1E6771;*/
    border: 2px ;
}


/* ============= CẤM ĐỘNG =========== */


.ndbangtin {
    background-color: white;
}
.w3-button {
    background-color: #2e80ce;
}
.w3-button:hover{
    background-color:aquamarine !important;
}
    /*tim kiem */
input#timkiemsv {
    width: 153px;
    height: 36px;
}

.timkiem::after {
    content: "";
    clear: both;
    display: table;
}

.timkiem {
    display: inline-flex;
    max-width: 300px;
}
input#timkiemsach {
    width: 153px;
    height: 36px;
}

/*trang chủ*/

.w3-content.w3-section {
    max-width: 100vw;
    margin-top: 7px !important;
}
.blinking-text {
    font-size: 24px;
    font-weight: bold;
    animation: blink 1s infinite;
    text-align: center;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
/*logo trường*/
img {
    width: 212px;
}
span.small.fw-400 {
   
    font-weight: 100;
}
.sname {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase !important;
}
/*noi dung trang chủ*/
h1 {
    color: #2e80ce;
    text-align: center;
}

p {
    line-height: 1.6;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #2e80ce;
    border-bottom: 2px solid #2e80ce;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2e80ce;
    color: #fff;
    border-radius: 5px;
}
.library-container {
    max-width: 100vw;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/*chỉnh lại slide img*/
img.mySlides {
    margin-top: 3px !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button#nut-chi-tiet {
    background-color: tan;
}